target/
Screenshots/
apps/
logs/
out/
######################
#Intellij
######################
.idea/
.iml

######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
